@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #00008b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 575px) {
  .mbl-view {
    display: none;
  }
  .mbl-design {
    background-color: #0776bb;
    width: 100%;
    color: white;
    font-weight: 500;

    text-align: start;
    width: 100%;
    padding: 8px;
  }
  .mbl-logo {
    width: 50px;
  }
  .feature-mbl {
    text-align: center;
    font-size: 1rem;
  }
  .feature-mbl-tit {
    text-align: center;
  }
  .feature-mb-head {
    margin: 1rem;
  }
}

.export-company {
  background-image: url("./assets/exportsteel.jpg");
}
.footer {
  background-image: url("./assets/transmission-tower.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}
